<i class="close icon"></i>
<div class="content">
    <form action="{% url 'userprofile:limit' form.instance.profile.guid %}" class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.limit.id_for_label }}">Saldo Limit Transaction</label>
            <div class="ui labeled input">
                <div class="ui label">IDR</div>
                {{ form.limit }}
            </div>
            {% if form.limit.errors %}
                {% for error in form.limit.errors %}
                <small style="color:brown">* {{ error }}</small>
                {% endfor %}
            {% endif %}
        </div>
        <button class="ui red button" type="submit">Submit</button>
    </form>
</div>